<%= /header %>

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">About
          <strong>sunrise taekwondo</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="img/slide-2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <p>Sunrise Tae Kwon Do is a martial arts school in Portland, OR. Our instructors are specially trained in self defense and self protection. There are many forms of martial arts training, however, we take a different approach to self defense instruction. </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Instructors</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-6 text-center">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <h3>Master Lee
          <small>Job Title</small>
        </h3>
      </div>
      <div class="col-sm-6 text-center">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <h3>Master Oh
          <small>Job Title</small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!-- /.container -->

<%= /footer %>